/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
}

/* Estilos do header */
header {
  background-color: #26f71e;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem; /* Reduzindo o tamanho da fonte para dispositivos móveis */
  font-weight: bold;
  color: #fff;
}

header p {
  margin: 0;
  font-size: 1rem; /* Reduzindo o tamanho da fonte para dispositivos móveis */
  font-style: italic;
  color: #fff;
}

/* Estilos do formulário */
form {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-size: 1rem; /* Reduzindo o tamanho da fonte para dispositivos móveis */
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

input[type="text"],
input[type="number"] {
  padding: 0.8rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem; /* Reduzindo o tamanho da fonte para dispositivos móveis */
  width: 100%;
}

input[type="submit"],
button {
  background-color: #e3c32c;
  color: #333;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem; /* Reduzindo o tamanho da fonte para dispositivos móveis */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
button:hover {
  background-color: #d0b027;
}

.attention-message {
  font-style: italic;
  font-size: 0.9rem; /* Reduzindo o tamanho da fonte para dispositivos móveis */
  margin-top: 0.5rem;
  color: #777;
}

/* Estilos do rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

footer p {
  margin: 0;
  font-size: 1rem; /* Reduzindo o tamanho da fonte para dispositivos móveis */
}

/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
  header h1 {
    font-size: 1.5rem;
  }

  header p {
    font-size: 0.8rem;
  }

  label {
    font-size: 0.8rem;
  }

  input[type="text"],
  input[type="number"] {
    font-size: 0.8rem;
  }

  input[type="submit"],
  button {
    font-size: 0.8rem;
  }

  .attention-message {
    font-size: 0.7rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}

.logo {
  width: 100%;
  max-width: 220px;
  height: auto;
}

/* Estilo do botão de ajuda */
.botao-ajuda {
  position: fixed;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.botao-ajuda:hover {
  cursor: pointer;
  background-color: #0062cc;
}

/* Estilo do botão flutuante */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
